<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text=${titulo}></title>
</head>
<body>
	<h1 th:text=${titulo}></h1>
	<ul>
		<li><a th:href="@{/variables/string/}+ 'Hola Eric'">/variables/string/Hola
				Eric</a></li>
		<li><a th:href="@{/variables/string/}+ 'Que tal Eric'">/variables/string/Que tal Eric
				</a></li>
		<li><a th:href="@{/variables/string/}+ 'Saludos Juan Carlos' + '/' + 7">/variables/string/Saludos Juan Carlos/7</a></li>


	</ul>

</body>
</html>